{% extends "layout.html" %}
{% block menu %}
<div class="container">
    <h1 id="-">Ani-Face Detector for Twitter</h1>
    <h2 id="-">このサイトはなに？</h2>
    <p>このページを使うと、Twitterから二次元画像をダウンロード出来るよ！</p>
    <h2 id="-">どうやって判別してるの？</h2>
    <p>
        2次元画像かどうかの判定は、<a href="https://github.com/marron-akanishi/TPTS">TPTS</a>っていうすごいシステムを使用したよ<br>
        まだ、精度が良くないから変な画像が紛れ込むけどごめんね(TOT)
    </p>
    <h2 id="-">使い方</h2>
    <p>
        まず、自分のTwitterのアカウントでログインをしよう！<br>
        次に回収方法を選択！回収方法は以下の3種類<br>
        ・自分のホームTLの直近{{count}}件<br>
        ・特定のユーザーの直近{{count}}件<br>
        ・公開リストの直近{{count}}件<br>
        どれも回収に時間がかかるけど、気長に待ってね！<br>
        画像の回収が出来たら、一覧表示されるよ。<br>
        そのまま、一覧を一括でダウンロード出来る！便利！<br>
        画像クリックすればツイートの詳細も確認出来るよ。<br>
        管理者によっては、自分のTLで回収した画像を表示してくれてるかも？<br>
    </p>
    </div>
{% endblock menu %}