{% extends "layout.html" %}
{% block menu %}
<div class="container-fluid">
    <h1 id="-">このページについて</h1>
    <h2 id="-">概要</h2>
    <p>ここでは、TwitterのTLに流れてきた画像のうち2次元画像と思われるものだけを抽出してリストにしています。</p>
    <h2 id="-">判定方法</h2>
    <p>2次元画像かどうかの判定は、<a href="https://github.com/marron-akanishi/TPTS">TPTS</a>の技術を使用しています。</p>
    <h2 id="-">使用方法</h2>
    <p>
        まず、トップページで見たい日の日付を選択してOKをクリックします。<br>
        日付を選択すると、下に画像が一覧で表示されます。<br>
        一覧画像の中にはハッシュタグと書かれたものが存在します。<br>
        このような画像はマウスオーバーによってハッシュタグを確認することが出来ます。<br>
        画像をクリックすると詳細画面に飛びます。<br>
        詳細画面では、ツイートの詳細や顔検出位置の確認が可能です。
    </p>
    </div>
{% endblock menu %}