{% extends "layout.html" %}
{% block control %}
<script src="/static/js/form.js"></script>
<div class="container">
  <input type="button" class="btn btn-primary" onclick="location.href='/list?date={{date}}#{{data.id}}'" value="画像一覧に戻る">
  {% if data.id-1 >= 0 %}
    <button id="prev" class="btn btn-default" onclick="location.href='/list/detail?date={{date}}&id={{data.id-1}}'">＜</button>
  {% else %}
    <button class="btn btn-default" disabled>＜</button>
  {% endif %}
  {% if data.id+1 <= max %}
    <button id="next" class="btn btn-default" onclick="location.href='/list/detail?date={{date}}&id={{data.id+1}}'">＞</button>
  {% else %}
    <button class="btn btn-default" disabled>＞</button>
  {% endif %}
  <form id="idsel" action="/list/detail" method="get" class="form-inline col-xs-offset-1" style="display:inline;">
    <input type="hidden" name="date" value="{{date}}">
    <label for="idtext">ID指定:</label>
    <input type="number" id="idtext" name="id" class="form-control" placeholder="0-{{max}}" min="0" max="{{max}}" required>
    <button id="jump" class="btn btn-default" type="submit">ジャンプ</button>
  </form>
</div>
{% endblock %}
{% block detail %}
<script type="text/javascript">
  var facex = '{{data.facex}}';
  var facey = '{{data.facey}}';
  var facew = '{{data.facew}}';
  var faceh = '{{data.faceh}}';
  var image_url = '{{data.image}}';
</script>
<script src="/static/js/face.js"></script>
<div class="container">
  <table class="table table-condensed">
    <tr><td>ID</td><td>{{data.id}}</td></tr>
    <tr>
      <td>ユーザーID</td>
      <td>
        {% if idcount != 1 %}
        <a href="/search?date={{date}}&userid={{data.userid}}" data-toggle="tooltip" data-placement="right" title="同一IDの画像が{{idcount}}枚あります">@{{data.userid}}</a>
        {% else %}
        @{{data.userid}}
        {% endif %}
      </td>
    </tr>
    <tr><td>ハッシュタグ</td><td>{{data.tags}}</td></tr>
    <tr><td>取得時刻</td><td>{{data.time}}</td></tr>
  </table>
  <ul class="nav nav-tabs" id="detailtab" role="tablist">
    <li role="presentation" class="active"><a href="#embed" aria-controls="embed" role="tab" data-toggle="tab">ツイート本体</a></li>
    <li role="presentation"><a href="#face" aria-controls="face" role="tab" data-toggle="tab">顔検出位置</a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="embed">
      {{html|safe}}
    </div>
    <div role="tabpanel" class="tab-pane" id="face">
      <a href="{{data.image}}:orig"><canvas id="image_canvas" class="img-responsive img-thumbnail">画像を表示するには、canvasタグをサポートしたブラウザが必要です。</canvas></a>
    </div>
  </div>
</div>
<script>
  $('[data-toggle="tooltip"]').tooltip();
</script>
{% endblock %}