{% extends "index.html" %}
{% block list %}
<div class="container">
  <table class="table">
    <tr><th>ID</th><th>URL</th><th></th></tr>
    {% for detail in filelist %}
      <tr>
        <td>{{detail.id}}</td>
        <td>{{detail.url}}</td>
        <td>
          <form action="/list/detail" method="post">
            <input type="hidden" name="date" value="{{select}}">
            <button class="btn btn-default btn-sm" type="submit" name="open" value="{{detail.id}}">見る</button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}