{% extends "layout.html" %}
{% block menu %}
<div class="container">
  <input type="button" class="btn btn-danger" onclick="location.href='/user'" value="メニューに戻る">
  <link href="/static/css/loading.css" rel="stylesheet" type="text/css" />
  <script src="/static/js/asynclist.js"></script>
{% if mode == "homeTL" %}
  <h4>ホームTLの直近800件から画像を表示します</h4>
  <form class="form-inline" style="display:inline;">
    <input type="hidden" name="mode" value="homeTL">
    <button type="submit" class="btn btn-primary">取得開始</button>
  </form>
{% endif %}
{% if mode == "userTL" %}
  <h4>ユーザーTLの直近1000件から画像を表示します</h4>
  <form class="form-inline" style="display:inline;">
    <input type="hidden" name="mode" value="userTL">
    <label for="userID">ユーザーID: </label>
    <div class="input-group">
      <div class="input-group-addon">@</div>
      <input type="text" class="form-control" id="userID" name="userid" placeholder="hoge">
    </div>
    <button type="submit" class="btn btn-primary">OK</button>
  </form>
{% endif %}
{% if mode == "list" %}
  <h4>指定したリストの直近1000件から画像を表示します</h4>
  <form class="form-inline" style="display:inline;">
    <input type="hidden" name="mode" value="list">
    <label for="listurl">リストURL(非公開リストは不可): </label>
    <div class="input-group">
      <input type="text" class="form-control" id="listurl" name="url" placeholder="https://twitter.com/hoge/lists/hoge">
    </div>
    <button type="submit" class="btn btn-primary">OK</button>
  </form>
{% endif %}
{% if mode == "admin" %}
  <h4>管理者のTLから回収した画像を表示します</h4>
  {% if dblist %}
  <form class="form-inline" style="display:inline;">
    <input type="hidden" name="mode" value="admin">
    <label for="date">日付: </label>
    <select id="date" name="date" class="form-control">
      {% for dbfile in dblist %}
        {% if dbfile == select %}
          <option value="{{dbfile}}" selected>{{dbfile}}
        {% else %}
          <option value="{{dbfile}}">{{dbfile}}
        {% endif %}
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary">OK</button>
  </form>
  {% else %}
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">エラー:</span>
    データベース一覧作成時にエラーが発生しました
  </div>
  {% endif %}
{% endif %}
</div>
{% endblock menu %}
{% block list %}
<div id="result"></div>
{% endblock list %}